@font-face {
    font-family: "Raleway";
    src: url("/assets/fonts/Raleway.ttf") format('truetype');
  }
  body {
      background: transparent;
      height: 100%;
      background-image: url("/assets/images/background3.png");
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;
      color: #0f2f30;
      padding: 40px;
      font-family: "Raleway";
    }
    [role= menuitem] {
      color: #000;
    }
    #dropdownMenu2 {
      background-color: transparent;
      color: #000;
      border-color: transparent;
      
    }
  
  #selimg {
    height: 600px;
    }
  
  #engrow {
    padding: 50px;
  }
  
  #navbarlogo {
    padding: 0px;
    background-color: #ffffff;
    border: 0px;
  }

  .navbar a {
    float: left;
    text-align: center;
    padding: 6px;
    color: #F9FEFF;
    text-decoration: none;
    font-size: 20px;
  }

  .nav-top {
    background-color: #ffffff;
  }
  
  .nav-bot {
    background-color: #468f92;
    
  }

  .container h3 {
    color: #F9FEFF;
  }

  #botnav {
    color: #F9FEFF;
  }

  img {
    border: 5px;
    border-color: #468f92;
    border-style: solid;
    margin: auto;
  }
 
  #profilepicture {
    display: block;
    margin: auto;
    padding: 2px;
    }
 
  
  .lcolour {
    color: #ad592b;
  }
  
  .lcolour:hover {
    color: #fac082;
  }
  
  .jumbotron {
    align-items: center;
    justify-content: center;
    background-color: #f8f8f8;
    max-height: 100%;
    margin: auto;
    /* border: 5px;
    border-color: #fef5f5;
    border-style: solid; */
  }
  
  .cardarc {
    background-color: transparent;
    border-color: transparent;
  }
  

  .item {
    flex-grow: 1;
     
    width: 3rem;
    padding: 0rem 0.5rem;
  }

  